{% extends 'auctions/layout.html' %}
{% block title %}
{{ listing }}
{% endblock title %}
{% block body %}
<h2 class="text-center fw-semibold m-4">{{ listing.title }}</h2>

<div style="width: 90%; margin: 2% auto;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if not in_watchlist %}
                    <a href="{% url 'add-to-watchlist' listing.pk %}">
                        <div class="badge bg-secondary text-wrap" style="width: 10rem; position: relative; margin-top:5%;">
                            Add to Watchlist
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'remove-from-watchlist' listing.pk %}">
                        <div class="badge bg-danger text-wrap" style="width: 10rem; position: relative; margin-top:5%;">
                            Remove from Watchlist
                        </div>
                    </a>
                {% endif %}
                <img src="{{ listing.link }}" class="img-fluid rounded-start" style="width: 45rem;" alt="{{ listing.title }}">
            </div>
            <div class="col-md-8 mt-5">
                <div class="card-body">
                    <h2 class="card-title">Listing: {{ listing.title }}</h2>
                    <p class="card-text mt-3">{{ listing.description }}</p>
                    <p class="card-title fw-bolder">price: {{ listing.price }}$</p>
                    {% if user == listing.owner and bid %}
                    <button class="btn btn-secondary">Close</button>
                    {% elif user == listing.owner %}
                    <p class="text-info">You cannot close it because no one bid for your listing therefore you can only cancel your listing
                    </p>
                    <button class="btn btn-danger">Cancel</button>
                    {% else %}
                    <small class="text-muted">Your bid must be greater than current bid {{ bid.bid }}$</small>
                    <form action="{% url 'add-bidding' listing.pk %}" method="post" class="row g-3 mt-3">
                        {% csrf_token %}
                        <div class="col-auto">
                            <input type="hidden" id="current_bid" data-bid="{{ bid.bid }}">
                            <input type="number" name="bidding_amount" class="form-control" id="bid" placeholder="Current bid: {{ bid.bid }}$">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3" onclick="validateBidding()">Confirm bid</button>
                        </div>
                    </form>
                    {% endif %}
                    <p>Details:</p>
                    <ul>
                        <li>Listed by: {{ listing.owner }}</li>
                        <li>Category: {{ listing.get_category_display }}</li>
                        <li>Current Bid from: {{ bid.user }}</li>
                        <span class="card-text" style="margin-left: 70%;"><small class="text-muted">Added at {{ listing.time }}</small></span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}