{% extends 'auctions/layout.html' %}
{% block title %}
{{ listing }}
{% endblock title %}
{% block body %}
<h2 class="text-center fw-semibold m-4">{{ listing.title }}</h2>
<div style="width: 90%; margin: 2% auto;">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if not in_watchlist and user != listing.owner and user.is_authenticated %}
                    <a href="{% url 'add-to-watchlist' listing.pk %}">
                        <div class="badge bg-secondary text-wrap" style="width: 10rem; position: relative; margin-top:5%;">
                            Add to Watchlist
                        </div>
                    </a>
                {% elif in_watchlist and user.is_authenticated %}
                    <a href="{% url 'remove-from-watchlist' listing.pk %}">
                        <div class="badge bg-danger text-wrap" style="width: 10rem; position: relative; margin-top:5%;">
                            Remove from Watchlist
                        </div>
                    </a>
                {% endif %}
                <img src="{{ listing.link }}" class="img-fluid rounded-start" style="width: 45rem;" alt="{{ listing.title }}">
            </div>
            <div class="col-md-8 mt-5">
                <div class="card-body">
                    <h2 class="card-title">Listing: {{ listing.title }}</h2>
                    <p class="card-text mt-3">{{ listing.description }}</p>
                    <p class="card-title fw-bolder">price: {{ listing.price }}$</p>
                    {% if listing.closed %}
                        <p class="text-muted">Listing have been closed</p>
                    {% elif user == listing.owner and bid %}
                    <p class="test-muted">Current bid: {{ bid.bid }}$</p>
                    <a href="{% url 'close-bidding' listing.pk %}" class="btn btn-secondary mb-3">Close</a>
                    {% elif user == listing.owner %}
                    <p class="text-info">You cannot close it because no one bid for your listing therefore you can only cancel your listing
                    </p>
                    <button class="btn btn-danger">Cancel</button>
                    
                    {% elif user.is_authenticated %}
                        <small class="text-muted">Your bid must be greater than current bid {{ bid.bid }}$</small>
                        <form action="{% url 'add-bidding' listing.pk %}" method="post" class="row g-3 mt-3">
                            {% csrf_token %}
                            <div class="col-auto">
                                <input type="hidden" id="current_bid" data-bid="{{ bid.bid }}">
                                <input type="number" name="bidding_amount" class="form-control" id="bid" placeholder="Current bid: {{ bid.bid }}$">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3" onclick="validateBidding()">Confirm bid</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="text-muted">You cannot bid for this listing! <a href="{% url 'login' %}">Login to bid</a></p>
                    {% endif %}
                    <p>Details:</p>
                    <ul>
                        <li>Listed by: {{ listing.owner }}</li>
                        <li>Category: {{ listing.get_category_display }}</li>
                        <li>Current Bid from: {{ bid.user }}</li>
                        <span class="card-text" style="margin-left: 70%;"><small class="text-muted">Added at {{ listing.time }}</small></span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comments" style="width: 90%; margin: 2% auto;">
    <h3 class="text-muted">Comments</h3>
    <div class="comments" id="comments">
        {% for comment in comments %}
        <form class="form-floating" style="margin-bottom: 1%;">
            <input type="text" readonly class="form-control" id="floatingInputValue"
                value="{{ comment.comment }}">
            <label for="floatingInputValue">{{ comment.user }}</label>
        </form>
        {% endfor %}
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="floatingTextarea2"
            style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comment</label>
        <button class="btn btn-primary mt-2" id="comment-btn" type="submit" data-listing="{{ listing.pk }}" data-url="{% url 'add-comment' %}" data-user="{{ user }}" onclick="makeComment()">Comment</button>
    </div>
</div>
{% endblock body %}