{% extends 'auctions/layout.html' %}
{% block title %}
Registration Page
{% endblock title %}
{% load bootstrap4 %}

{% block body %}
<h3 class="text-center mt-3 mb-3">Register</h3>

<div class="wrapper" style="width: 50%; margin-left: 25%;">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="position-relative end-0 mt-3">
            <input class="btn btn-primary position-absolute" type="submit" value="Register">
        </div>
    </form>
    <p class="fst-italic text-end mb-5">Already have an account? <a href="{% url 'login' %}">LogIn here.</a></p>
</div>
{% endblock body %}